
#myNavbar {
  font-family: Montserrat, sans-serif;
}

body {
  font-family: Lato;
  background-color: #E7E7E7;
}

.precio {
  font-size: 1.5em;
  font-weight: bold;
  width: 60px ;
  text-align: center;

}




/* CAROUSEL INDEX */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #337AB7;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators li.active {
  background-color: #f4511e;
}


.fixed-panel {
  min-height: 100px;
  max-height: 150px;
  overflow-y: auto;
}

.errors {
  width: 50%;
  margin: 0 25% 0 25%;
  color: #6D0400;
  background-color: #FEB7B4;
  border: 1px solid #6D0400;
  border-radius: 8px;
  padding: 5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
